<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NatigShukurov|About</title>
    <link rel="stylesheet" href="../statics/css/about.css">
    <link rel="stylesheet" href="../statics/css/scrolbar.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</head>
<body>
    <div class="navbar">
        <div class="menu">
            <ion-icon name="menu" class="menu_button"></ion-icon>
        </div>
        <div class="nav_con">
            <!-- <div class="left_con">
               #NatigShukurov
            </div> -->
            <!-- <div class="right_con">
                <a href="">
                    Home
                </a>
                <a href="">
                    About
                </a>
                <a href="">
                    Contact me
                </a>
                <a href="">
                    CV
                </a>
            </div> -->
        </div>
        <div class="profil">
            <ion-icon name="contact"></ion-icon>
        </div>
    </div>
    <div class="solidbar">
            <div class="header">
                <div class="solid_name">
                    <p>&copy;natig2025</p>
                </div>
                <p class="close">
                    X
                </p>
            </div>
            <div class="elements">
                <a href="../index.html">Home</a>
                <a href="">About</a>
                <a href="mycv.html">CV</a>
            </div>
    </div>
    <div class="about-container">
        <div class="top-about">
            <img src="../statics/image/Programmer Wallpapers ·①  WallpaperTag.jpeg" alt="">
        </div>
    </div>
    <div class="about-ws">
        <div class="ws-head">
            WEB-SITE
        </div>
        <div class="ws-content">
            <section>
                Bu bir portifoliodur. HTML5, CSS3 və JavaScript kodları ilə yazılıb. Bunu yazmağda məqsədim özümü bu sahədə inkişaf etdirmək və kiçik də olsa bir portifoliomun olmasıdır. Html3-ə 2022-ci ilin oktyabırın 14-dən başladım və uğurlu oldu. Sonra CSS3, sonra kiçik bir projectlər üçün lazım olacag dərəcədə JavaScript. Bunları örgəndikdən sonra öz projectimi local deyil global şəkildə görmək istədim. Bunun üçün Vercal.app və Netlify.app haqqında məlumat topladım. Bunlarla bərabər git və github-un necə işlədilməsinidə örgəndim. Çünki HTM5, CSS3 və JS-dən ibarət olan bir projecti deploy etmək üçün github-ın repositorundan çəkmək lazım idi. Bunları bacardıqdan sonra uzun müddət bu sahədən uzağlaşdım(2023.05.24-2024.10.09). Hal-hazırda Python, Python-Django biliklərimi yenidən örgənirəm. Tək Frontend developer deyil Ful Stack developer olmag üçün çalışıram.  
            </section>
        </div>
    </div>
    <div class="contactme-ws">
        <div class="contactme-ws-head">
            Mənimlə əlaqə :
        </div>
        <form action="">
            <img src="../statics/image/php.gif" alt="">
            <div class="loading">Hazırlanır<span class="dots"></span></div>
        </form>
    </div>
    <div class="footer"></div>
        <script src="../statics/js/about.js">

        </script>
</body>
</html>