<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NatigShukurov|Cv</title>
    <link rel="stylesheet" href="../statics/css/scrolbar.css">
    <link rel="stylesheet" href="../statics/css/mycv.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

</head>
<body>

    <!-- <embed src="../statics/pdf/Natig.pdf" type="application/pdf" width="600" height="400">

    <div class="exit">
        <ion-icon name="return-left"></ion-icon>
    </div> -->
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title>PDF Yükləmə</title>
</head>
<body>
    <div class="navbar">
        <div class="menu">
            <ion-icon name="menu" class="menu_button"></ion-icon>
        </div>
        <div class="nav_con">
            <!-- <div class="left_con">
               #NatigShukurov
            </div> -->
            <!-- <div class="right_con">
                <a href="">
                    Home
                </a>
                <a href="">
                    About
                </a>
                <a href="">
                    Contact me
                </a>
                <a href="">
                    CV
                </a>
            </div> -->
            #natigshukurov
        </div>
        <div class="profil">
            <ion-icon name="contact"></ion-icon>
        </div>
    </div>
    <div class="solidbar">
        <div class="header">
            <div class="solid_name">
                <p>&copy;natig2025</p>
            </div>
            <p class="close">
                X
            </p>
        </div>
        <div class="elements">
            <a href="../index.html">Home</a>
            <a href="about.html">About</a>
            <a href="mycv.html">CV</a>
        </div>
    </div>
    <div class="pdf_downloader_container">
        <div class="sosial_conatiner">
            <div class="instagram">
                <a href="https://www.instagram.com/accounts/onetap/?next=%2F" target="_blank"><ion-icon name="logo-instagram"></ion-icon>Instagram</a>
            </div>
            <div class="github">
                <a href="https://github.com/Natiq96" target="_blank"><ion-icon name="logo-github"></ion-icon>Github</a>
            </div>
            <div class="hackerrank">
                <a href="https://www.hackerrank.com/profile/thntg0906" target="_blank"><ion-icon name="code"></ion-icon>Github</a>
            </div>
            <div class="pdf_downloader">
                <a href="../statics/pdf/Natig.pdf" download target="_blank">
                    <ion-icon name="cloud-download"></ion-icon>Download PDF
                </a>
            </div>
            
        </div>
    </div>


    <script src="../statics/js/mycv.js"></script>
</body>
</html>


</body>
</html>